/**
 * Main SASS stylesheet file.
 *
 * @author      Jan Myler <honza.myler@gmail.com>
 * @copyright   Copyright 2012, Jan Myler (http://janmyler.com)
 *
 */

// @import "compass/reset";
@import "normalize";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

// colors
$bodyText: #222;
$bodyBg: #aaa;

// custom variables
$bodyFont: Arial, sans-serif;

// mixins

body {
	color: $bodyText;
	background: $bodyBg;
	font-family: $bodyFont;
}

