/**
 * Main SASS stylesheet file.
 *
 * @file        screen.scss
 * @author      Jan Myler <honza.myler[at]gmail.com>
 * @copyright   Copyright 2012, Jan Myler (http://janmyler.com)
 *
 */

// @import "compass/reset";
@import "normalize";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

@import "full_bg";
@import "orbit";

@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Condensed'), local('CabinCondensed'), url(http://themes.googleusercontent.com/static/fonts/cabincondensed/v4/B0txb0blf2N29WdYPJjMShZ1gqmQBTb4Nwa_fF0DajA.woff) format('woff');
}

// colors
$headerBrown: #50483A;			// used for a text in the header
$textBrown: #1F1919;			// used for a regular text
$headingBrown: #201A1A;			// used for headers
$headingRed: #C50206;			// used for headers
$threeDivsBrown: #473E36;		// used for three-divs' background
$smallButtonRed: #9D0000;		// used for small buttons' background
$selection: #e00706;			// used for selection background
$alphaBrown: hsla(0, 10%, 11%, .8);	// used for main menu's and footer's background
$shadowBlack: hsla(0, 0%, 0%, .4);	// used for shadows
$alphaWhite: fade-out(#fff, .1);	// used for content and sidebar background

// custom variables
$zIndexContent: 100;
$zIndexBgOverlay: 5;
$zIndexBg: 0;

// mixins
@mixin big-button {
	display: block;
	width: 240px;
	height: 59px;
	background: url('../img/big_button.png') 0 0 no-repeat;
	color: #fff;
	line-height: 59px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	@include single-text-shadow(-1px, -1px, 1px, #460000);

	&:hover {
		background-position: 0 -59px;
	}

	&:active {
		background-position: 0 -59px * 2;
		color: fade-out(#fff, .1);
	}
}

@mixin small-button {
	padding: 3px 25px 3px 8px;
	background: $smallButtonRed url('../img/button_arrow.png') right center no-repeat;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;

	@include border-radius(4px);
	@include single-box-shadow(darken($smallButtonRed, 10%), 0, 2px, 0);

	&:hover {
		background-color: lighten($smallButtonRed, 5%);
	}

	&:active {
		position: relative;
		bottom: -1px;
		@include single-box-shadow(darken($smallButtonRed, 20%), 0px, 1px, 0);
	}
}

body {
	color: $textBrown;
	background: #585858;
	font-family: Arial, sans-serif;
}

// custom typography styles
h1, h2, h3, h4 {
	font-family: 'Cabin Condensed', sans-serif;
	color: $headingBrown;
	font-weight: normal;

	@include single-text-shadow(2px, 2px, 0, #fff);
}

#page-content, #homepage-content {
	a {
		color: $smallButtonRed;
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid $smallButtonRed;
		}
	}

	img {
		padding: 2px;
		border: 1px solid #858585;
		&.left { margin-right: 20px }
		&.right { margin-left: 20px }
	}
}

::-moz-selection { background: fade-out($selection, .4); color: #fff; text-shadow: #444 1px 1px 3px; }
::selection { background: fade-out($selection, .4); color: #fff; text-shadow: #444 1px 1px 3px; }
.left { float: left }
.right { float: right }
.clear { clear: both }
.small-button { @include small-button }
.small { font-size: 80% }

// website header layout
#header-wrapper {
	width: 100%;
	height: 100px;
	position: relative;
	background: #d1d1d1 url('../img/header_bg.png') repeat-x;
	border-bottom: 1px solid #b6b7b1;
	z-index: $zIndexContent;

	@include single-box-shadow($shadowBlack, 0, 4px, 10px);

	header {
		width: 950px;
		margin: 0 auto;
		padding: 0 5px;
	}
}

// company logo
#logo {
	float: left;
	margin: 0;

	a {
		width: 560px;
		height: 100px;
		display: block;
		text-indent: -9999px;
		background: url('../img/logo.png') no-repeat;
	}
}

// header phone contact
$phoneSize: 24px;
#phone {
	float: right;
	padding-left: 26px;
	margin: 12px 0;
	background: url('../img/phone_header.png') 0 2px no-repeat;
	color: $headerBrown;
	font-family: 'Cabin Condensed', sans-serif;
	font-size: $phoneSize;
	line-height: $phoneSize;
	text-shadow: none;
}

// social icons
.socials {
	float: right;
	clear: right;

	a {
		margin-left: 10px;
	}
}

// page container
#page-wrapper {
	position: relative;
	width: 970px;
	margin: 0 auto;
	padding: 25px 0 50px;
	z-index: $zIndexContent;
}

// main navigaton
$linkHeight: 70px;
#main-navi {
	height: 80px;

	ul {
		height: 70px;
		margin: 0;
		padding: 0;
		background: $alphaBrown;
	}

	li {
		float: left;
	}

	a {
		display: block;
		height: $linkHeight;
		padding: 0 21px;
		line-height: $linkHeight;
		font-size: 15px;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		background: transparent;

		@include single-text-shadow(2px, 2px, 1px, $shadowBlack);

		&:hover  {
			background: fade_out($alphaBrown, .4);
			border-bottom: 5px solid #fff;
		}
		/* old one
		&.active, &.active:hover {
			height: $linkHeight + 10;
			cursor: default;
			background: url('../img/menu_active_bg.png') 0 0 repeat-x, url('../img/menu_active_arrow.png') center bottom no-repeat;

			@include single-text-shadow(-1px, -1px, 0, $shadowBlack);
		}
		*/

		&.active, &.active:hover {
			height: $linkHeight;
			cursor: default;
			background: $alphaBrown;
			border-bottom: 5px solid $smallButtonRed;
		}
	}
}

// homepage slider
$sliderHeight: 360px;
#slider {
	height: $sliderHeight;
	margin-top: 25px;
	position: relative;

	@include single-box-shadow($shadowBlack, 0, 0, 10px);

	.big-button {
		position: absolute;
		right: 25px;
		bottom: 25px;
		z-index: 500;

		@include big-button;
	}
	/*

	.slider-left, .slider-right {
		position: absolute;
		height: 70px;
		top: $sliderHeight / 2 - 30;
	}

	.slider-left {
		left: -10px;
		background: url('../img/slider_left_triangle.png') left bottom no-repeat;
	}

	.slider-right {
		right: -10px;
		background: url('../img/slider_right_triangle.png') right bottom no-repeat;
	}

	.left, .right {
		display: block;
		width: 30px;
		height: 60px;
	}

	.left {
		background: #fff url('../img/left_arrow.png') center center no-repeat;
		@include single-box-shadow($shadowBlack, 4px, 4px, 4px);
	}

	.right {
		background: #fff url('../img/right_arrow.png') center center no-repeat;
		@include single-box-shadow($shadowBlack, -4px, 4px, 4px);
	}
	*/
}

// homepage content
#homepage-content {
	margin-top: 72px;

	@include background-image(linear-gradient(fade-out(#473e36, .8), $alphaWhite 100px));
	@include pie-clearfix;

	h1 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 38px;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
		line-height: 1.3;
	}

	.homepage-text {
		margin-left: 20px;
		width: 450px;
		float: left;
	}
}

// homepage three-divs section
#three-divs {
	margin-bottom: 25px;
	@include pie-clearfix;

	.services, .projects, .testimonials {
		width: 310px;
		height: 190px;
		float: left;
		margin: -27px 0 0 10px;
		background: $threeDivsBrown;
	}

	h2 {
		position: relative;
		display: inline-block;
		float: right;
		height: 37px;
		margin: -10px 0 0;
		padding: 0 15px;
		background: #fff;

		z-index: 200;
		font-size: 22px;
		line-height: 37px;
		text-align: right;
		text-transform: uppercase;

		@include border-top-left-radius(10px);

	}

	ul {
		list-style-image: url('../img/bullet.png');
		margin-top: 0;
		padding-left: 26px;
	}

	li {
		margin: 10px 0;
		padding-left: 6px;

		&:first-child {
			margin-top: 0;
		}
	}

	.content {
		position: relative;
		height: 150px;
		margin-top: 27px;
		padding-top: 11px;
		background: #fff;

		@include single-box-shadow($shadowBlack, 0, -6px, 10px);
	}

	.small-button {
		position: absolute;
		right: 6px;
		bottom: 8px;

		@include small-button;

		&:hover {
			border-bottom: none;
		}

		&:active {
			position: absolute;
			bottom: 6px;
		}
	}

	.projects {
		.content {
			padding-top: 5px;
			padding-left: 20px;
			padding-bottom: 6px;
		}

		.slider {
			width: 290px;
			height: 120px !important;
			overflow: hidden;
		}

		.slide {
			padding-top: 3px;
			background: white;
		}

		.left, .right {
			position: absolute;
			width: 18px;
			height: 120px;
			top: 28px;

			&:hover {
				border: none;
			}
		}

		.left {
			left: -20px;
			background: #fff url('../img/left_arrow.png') right center no-repeat;
		}

		.right {
			right: 0;
			background: #fff url('../img/right_arrow.png') left center no-repeat;
		}

		img {
			float: left;
			margin: 0 2px 4px;
		}
	}

	.testimonials {
		p {
			margin: 0 10px;
			font-size: 12px;
			font-style: italic;
		}
	}
}

// homepage partners list
#partners {
	margin-bottom: 20px;

	img {
		margin: 0 6px 6px 0;
	}
}

// homepage sidebar layout
#homepage-sidebar {
	width: 460px;
	margin-right: 20px;
	padding-bottom: 20px;
	float: right;

	h2 {
		font-size: 20px;
		margin-top: 0;
		text-transform: uppercase;
	}
}

// regular page content layout
#page-content {
	position: relative;
	margin-top: 25px;
	@include pie-clearfix;

	h1 {
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 56px;
	}

	h2 {
		margin-top: 30px;
		font-size: 32px;
	}

	p {
		font-size: 14px;
		line-height: 1.3;
	}

	ul {
		list-style-image: url('../img/bullet.png');
		margin-top: 0;
		padding-left: 26px;
	}

	ol {
		margin-top: 0;
		padding-left: 26px;
	}

	li {
		margin: 6px 0;
		padding-left: 6px;
		font-size: 14px;
	}

	.inset {
		width: 680px;
		padding: 20px;
		float: left;

		background: $alphaWhite;
	}
}

// regular page sidebar layout
#page-sidebar {
	width: 200px;
	padding: 20px;
	float: right;

	background: $alphaWhite;

	h2 {
		margin-left: -10px;
		margin-bottom: 15px;
		font-size: 18px;
		text-transform: uppercase;

		&:first-child {
			margin-top: 0;
		}
	}

	// submenu
	nav {
		width: 220px;
		margin: -20px 0 0 -20px;
		padding: 10px;
		background: $alphaBrown;
	}

	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	li.active {
		a {
			border-bottom: 1px solid #fff;
			cursor: default;
		}
	}

	a {
		color: #fff;
		text-transform: uppercase;

		&:hover {
			border-bottom: 1px solid #fff;
		}
	}
}

.sidebar-fixed {
	position: fixed;
	top: 0;
	right: 0;
}

#map-canvas {
	position: relative;
	width: 720px;
	height: 220px;
	right: 20px;
	top: 20px;
	clear: left;
}

// website footer layout
footer {
	height: 160px;
	margin-top: 20px;
	padding: 22px 20px;
	position: relative;

	color: #fff;
	background: $alphaBrown url('../img/footer_logo.png') 707px 110px no-repeat;

	.big-button {
		position: absolute;
		right: 20px;
		top: 20px;

		@include big-button;
	}

	.socials {
		float: none;
		clear: none;

		a {
			display: inline-block;
			height: 57px;
			margin-left: 18px;
			opacity: 1;

			@include single-transition(opacity, .4s, ease-out);

			&:hover {
				opacity: .8;
			}
		}
	}

	.vcard {
		float: left;
		padding-left: 48px;
		margin-right: 36px;
		background: url('../img/location_icon.png') 0 2px no-repeat;
		font-size: 14px;

		table {
			display: block;
			padding-bottom: 10px;
			border-bottom: 1px solid #fff;
		}

		td {
			padding: 0 36px 0 6px;
		}

		.last-column {
			padding-right: 8px;
		}
	}

	a {
		font-size: 15px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
	}

	small {
		display: inline-block;
		width: 640px;
		margin-top: 18px;
		text-align: center;
	}
}

// footer navigation
$linkHeight: 40px;
#footer-navi {
	width: 640px;
	height: $linkHeight;
	margin-top: 30px;

	ul {
		height: $linkHeight;
		margin: 0;
		padding: 0;
		background: white;

		@include border-radius(5px);
	}

	li {
		float: left;

		&:first-child {
			padding-left: 8px;
		}
	}

	a {
		display: block;
		height: $linkHeight;
		padding: 0 7px;
		line-height: $linkHeight;
		font-size: 14px;
		text-decoration: none;
		color: $headingBrown;
		background: transparent;
		outline: none;

		@include single-transition(background, .3s, ease-in-out);

		&:hover  {
			background: fade_out($alphaBrown, .6);
		}

		&.active, &.active:hover {
			cursor: default;
			font-weight: normal;
			background: fade_out($alphaBrown, .6);
		}
	}
}

// contact us page styles
.address-office {
	float: right;
	width: 280px;
	padding-right: 10px;

	h3 {
		margin-top: 0;
	}
}

$tabsHeight: 50px;
#tabify {
	height: $tabsHeight;
	margin-top: 25px !important;
	padding-left: 15px !important;
	list-style: none !important;
	border-bottom: 1px solid $alphaBrown;

	li {
		height: $tabsHeight;
		margin: 0;
		float: left;

		&.active a {
			background: $smallButtonRed;
			color: #fff;
			border-bottom: 1px solid $alphaBrown;
			cursor: default;
		}
	}

	a {
		display: block;
		height: $tabsHeight;
		padding: 0 10px;
		background: #fff;
		color: $alphaBrown;
		line-height: $tabsHeight;
		text-transform: uppercase;
	}
}

#contact, #request {
	width: 380px;
	float: left;

	p:first-child {
		margin-top: 0;
	}

	form {
		margin-top: 25px;
	}

	label {
		display: block;
		height: 25px;
		font-size: 15px;
	}

	input, textarea, select {
		width: 300px;
		margin-bottom: 15px;
		padding: 10px;
		font-size: 13px;
		background: #fff;
		border: 1px solid #d6d6d6;

		&:focus {
			border-right: 2px solid $alphaBrown;
			outline: none;
		}

		&.error {
			background: #FFDFDF;
			border-right: 2px solid #EC0000;
		}
	}

	select {
		width: 320px;
	}

	input[type=submit] {
		display: block;
		float: right;
		width: auto;
		height: 40px;
		margin-top: 10px;
		margin-right: 60px;
		border: none;
		text-align: left;

		@include small-button;
	}

	.required {
		display: inline-block;
		float: left;
		height: 25px;
		margin-top: -6px;
		padding-right: 5px;
		font-family: 'Cabin Condensed';
		font-size: 40px;
		font-weight: bold;
		color: $smallButtonRed;
	}
}

// testimonials styles
#page-content .testimonials {
	.icon {
		float: left;
		position: relative;
		width: 106px;
		height: 106px;
		overflow: hidden;

		img {
			position: absolute;
		}
	}

	.caption {
		position: absolute;
		display: none;
		left: 0;
		top: 0;
		background: fade_out(#000, .5);
		text-transform: uppercase;

		a {
			display: block;
			width: 106px;
			height: 70px;
			padding-top: 36px;
			color: #fff;
			font-size: 12px;
			text-align: center;
		}
	}

	.content, .name {
		width: 565px;
		float: right;

		@include box-sizing(border-box);
	}

	.content {
		background: fade_out(#000, .2);
		color: #fff;
		padding: 0 14px;
	}

	.name {
		height: 25px;
		padding-right: 30px;
		background: url('../img/testimonials_bubble.png') right bottom no-repeat;
		text-align: right;
		line-height: 25px;
		font-size: 14px;
		font-weight: bold;
	}

	article {
		padding-top: 25px;
		clear: both;
		// border-top: 1px solid #fff;
		// border-bottom: 1px solid #ccc;

		@include pie-clearfix;

		// &:nth-child(3) {
		// 	border-top: none;
		// }

		// &:last-child {
		// 	border-bottom: none;
		// }
	}

	h2 {
		margin-top: 0;
		font-size: 16px;
		font-weight: bold;
	}

	a:hover {
		border: none;
	}
}

// back to top link styles
#back-top {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 0;
	z-index: 1000;

	a {
		display: block;
		width: 60px;
		height: 60px;
		background: fade_out($alphaBrown, .2) url('../img/arrow_top.png') center center no-repeat;
		color: #fff;
		text-indent: -9999px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		outline: none;

		@include single-transition(background-color, .4s, ease-in-out);

	    &:hover {
	    	background-color: fade_in($alphaBrown, .4);
	    }
	}

}